html { 
  background: url(images/CoverImage2Edited.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
	/*dim-gray navbar*/
	background-color: rgba(8, 4, 11, 0.5);
	/*background-color: #08040B;*/
	position: fixed;
	top: 0;
	right: 0;
	height: 6%; 
	width: 100%;
	z-index: 999;
	opacity: 0.5;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	font-weight:600;
}



.navElement {
	z-index: 999;
	padding-left: 2%; 
	padding-right: 2%;
	height: 100%;
	float: left;
	vertical-align: middle;
	display: table;
	-webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

.navElement:hover {
	background-color: #BA6776;
}

.navElement span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
